.landing-page-2,
.landing-page-2 * {
  box-sizing: border-box;
}
.landing-page-2 {
  background: var(--colour-secondary-white-100-general, #ffffff);
  width: 1440px;
  height: 4628px;
  position: relative;
  overflow: hidden;
}
.hero {
  position: absolute;
  inset: 0;
}
.mask {
  width: 1444px;
  height: 1025px;
  position: absolute;
  left: -4px;
  top: 0px;
}
.designer-1 {
  width: 1490.03px;
  height: 1161px;
  position: static;
}
.path {
  opacity: 0.5;
  position: absolute;
  left: 417.29px;
  top: -49px;
  overflow: visible;
}
.group {
  position: absolute;
  left: 794.37px;
  top: 245px;
  overflow: visible;
}
.rectangle50 {
  background: #505f98;
  width: 88.06px;
  height: 521px;
  position: absolute;
  left: 1481.03px;
  top: 443.84px;
}
.rectangle51 {
  background: linear-gradient(
    89.84deg,
    rgba(1, 1, 1, 0) 0%,
    rgba(1, 1, 1, 1) 94.9999988079071%
  );
  width: 46.03px;
  height: 521px;
  position: absolute;
  left: 1481.03px;
  top: 443.84px;
}
.rectangle52 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 451.84px;
}
.rectangle53 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 464.84px;
}
.rectangle54 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 477.84px;
}
.rectangle55 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 490.84px;
}
.rectangle56 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 502.84px;
}
.rectangle57 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 515.84px;
}
.rectangle58 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 528.84px;
}
.rectangle59 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 541.84px;
}
.rectangle60 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 554.84px;
}
.rectangle61 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 566.84px;
}
.rectangle62 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 581.84px;
}
.rectangle63 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 593.84px;
}
.rectangle64 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 606.84px;
}
.rectangle65 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 619.84px;
}
.rectangle66 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 632.84px;
}
.rectangle67 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 645.84px;
}
.rectangle68 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 657.84px;
}
.rectangle69 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 670.84px;
}
.rectangle70 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 683.84px;
}
.rectangle71 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 696.84px;
}
.rectangle72 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 709.84px;
}
.rectangle73 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 721.84px;
}
.rectangle74 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 734.84px;
}
.rectangle75 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 747.84px;
}
.rectangle76 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 760.84px;
}
.rectangle77 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 772.84px;
}
.rectangle78 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 785.84px;
}
.rectangle79 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 798.84px;
}
.rectangle80 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 812.84px;
}
.rectangle81 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 825.84px;
}
.rectangle82 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 838.84px;
}
.rectangle83 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 851.84px;
}
.rectangle84 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 864.84px;
}
.rectangle85 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 876.84px;
}
.rectangle86 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 889.84px;
}
.rectangle87 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 902.84px;
}
.rectangle88 {
  background: linear-gradient(
    79.85deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 915.84px;
}
.rectangle89 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 928.84px;
}
.rectangle90 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 940.84px;
}
.rectangle91 {
  background: linear-gradient(
    79.82deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.22) 7.000000029802322%,
    rgba(255, 255, 255, 0.45) 15.999999642372131%,
    rgba(255, 255, 255, 0.65) 25%,
    rgba(255, 255, 255, 0.8) 33.000001311302185%,
    rgba(255, 255, 255, 0.91) 40.00000059604645%,
    rgba(255, 255, 255, 0.98) 46.00000083446503%,
    rgba(255, 255, 255, 1) 50.999999046325684%
  );
  opacity: 0.6499999761581421;
  width: 24.02px;
  height: 5px;
  position: absolute;
  left: 1483.03px;
  top: 953.84px;
}
.hero-content {
  width: 539.37px;
  height: 421px;
  position: static;
}
.text-block-hero-title-body-action-row-2-line-title {
  width: 539.37px;
  height: 316px;
  position: absolute;
  left: 163.12px;
  top: 303px;
}
.body {
  color: var(--colour-main-blue-500, #505f98);
  text-align: left;
  font: var(--regular-18, 400 18px/30px "Roboto", sans-serif);
  position: absolute;
  right: 0.37px;
  left: 0px;
  top: 152px;
}
.title {
  color: var(--colour-main-blue-900, #091133);
  text-align: left;
  font: var(--medium-50, 500 50px/66px "Roboto", sans-serif);
  position: absolute;
  right: 0.37px;
  left: 0px;
  top: 0px;
}
.element-button-large-filled {
  width: 189.13px;
  height: 36px;
  position: absolute;
  left: 163.12px;
  top: 688px;
}
.bg {
  background: var(--colour-main-blue-800, #111b47);
  border-radius: 2px;
  position: absolute;
  right: 0.13px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.button-label {
  color: var(--colour-secondary-white-100-general, #ffffff);
  text-align: center;
  font: var(--medium-16, 500 16px/26px "Roboto", sans-serif);
  position: absolute;
  right: 0.13px;
  left: 0px;
  top: calc(50% - 13px);
}
.element-button-large-filled-copy {
  width: 189.13px;
  height: 36px;
  position: absolute;
  left: 382.27px;
  top: 688px;
}
.bg2 {
  border-radius: 2px;
  border-style: solid;
  border-color: var(--colour-main-blue-900, #091133);
  border-width: 2px;
  position: absolute;
  right: 0.13px;
  left: 1.2505552149377763e-12px;
  bottom: 0px;
  top: 0px;
}
.button-label2 {
  color: var(--colour-main-blue-900, #091133);
  text-align: center;
  font: var(--medium-16, 500 16px/26px "Roboto", sans-serif);
  position: absolute;
  right: 0.13px;
  left: 0px;
  top: calc(50% - 11px);
}
.logo-landie {
  width: 79px;
  height: 38px;
  position: absolute;
  left: 681px;
  top: 12px;
}
.landie {
  color: var(--colour-logo-primary, #37447e);
  text-align: left;
  font: var(--bold-26, 900 26px/38px "Roboto", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
}
.nav {
  position: absolute;
  inset: 0;
}
.rectangle92 {
  width: 1440px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.group2 {
  width: 245px;
  height: 24px;
  position: static;
}
.home {
  color: var(--colour-main-blue-500, #505f98);
  text-align: left;
  font: var(--regular-14, 400 14px/24px "Roboto", sans-serif);
  position: absolute;
  left: 165px;
  top: calc(50% - 2296px);
}
.about {
  color: var(--colour-main-blue-500, #505f98);
  text-align: left;
  font: var(--regular-14, 400 14px/24px "Roboto", sans-serif);
  position: absolute;
  left: 263px;
  top: calc(50% - 2296px);
}
.contact {
  color: var(--colour-main-blue-500, #505f98);
  text-align: left;
  font: var(--regular-14, 400 14px/24px "Roboto", sans-serif);
  position: absolute;
  left: 361px;
  top: calc(50% - 2296px);
}
.element-button-small-filled {
  width: 160px;
  height: 26px;
  position: absolute;
  left: 1115px;
  top: 18px;
}
.bg3 {
  background: var(--colour-main-blue-800, #111b47);
  border-radius: 2px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.button-label3 {
  color: var(--colour-secondary-white-100-general, #ffffff);
  text-align: center;
  font: var(--medium-12, 500 12px/18px "Roboto", sans-serif);
  position: absolute;
  right: 0px;
  left: 0px;
  top: calc(50% - 9px);
}
.intro {
  position: absolute;
  inset: 0;
}
.rectangle93 {
  width: 1440px;
  height: 569px;
  position: absolute;
  left: -4px;
  top: 1852px;
}
.text-block-section-large-title-body-2-line-title {
  width: 445px;
  height: 228px;
  position: absolute;
  left: 826px;
  top: 2024px;
}
.body2 {
  color: var(--colour-main-blue-400, #6f7cb2);
  text-align: left;
  font: var(--regular-16, 400 16px/26px "Roboto", sans-serif);
  position: absolute;
  right: 0px;
  left: 0px;
  top: 64px;
}
.title2 {
  color: var(--colour-main-blue-900, #091133);
  text-align: left;
  font: var(--medium-36, 500 36px/48px "Roboto", sans-serif);
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.undraw-happy-news-hxmt {
  position: absolute;
  left: 191px;
  top: 1974.44px;
  overflow: visible;
}
.intro-copy {
  position: absolute;
  inset: 0;
}
.rectangle100 {
  width: 1440px;
  height: 569px;
  position: absolute;
  left: -4px;
  top: 2421px;
}
.text-block-section-large-title-body-2-line-title2 {
  width: 445px;
  height: 228px;
  position: absolute;
  left: 826px;
  top: 2593px;
}
.undraw-social-influencer-sgsv {
  width: 540px;
  height: 387px;
  position: static;
}
.path66 {
  position: absolute;
  left: 521px;
  top: 2591.76px;
  overflow: visible;
}
.path67 {
  position: absolute;
  left: 572px;
  top: 2591.76px;
  overflow: visible;
}
.path68 {
  position: absolute;
  left: 161px;
  top: 2816.76px;
  overflow: visible;
}
.path69 {
  position: absolute;
  left: 175px;
  top: 2815.76px;
  overflow: visible;
}
.path70 {
  position: absolute;
  left: 164px;
  top: 2898.76px;
  overflow: visible;
}
.path71 {
  position: absolute;
  left: 621px;
  top: 2854.76px;
  overflow: visible;
}
.path72 {
  position: absolute;
  left: 630px;
  top: 2854.76px;
  overflow: visible;
}
.rectangle101 {
  background: #3f3d56;
  border-radius: 2.29px;
  width: 6px;
  height: 47px;
  position: absolute;
  left: 474px;
  top: 2600.76px;
}
.rectangle102 {
  background: #3f3d56;
  border-radius: 1.5px;
  width: 3px;
  height: 15px;
  position: absolute;
  left: 285px;
  top: 2563.76px;
}
.rectangle103 {
  background: #3f3d56;
  border-radius: 1.69px;
  width: 4px;
  height: 27px;
  position: absolute;
  left: 285px;
  top: 2591.76px;
}
.rectangle104 {
  background: #3f3d56;
  border-radius: 1.61px;
  width: 3px;
  height: 27px;
  position: absolute;
  left: 285px;
  top: 2628.76px;
}
.rectangle105 {
  background: #3f3d56;
  border-radius: 35.69px;
  width: 190px;
  height: 386px;
  position: absolute;
  left: 287px;
  top: 2512.76px;
}
.rectangle106 {
  background: #e6e8ec;
  border-radius: 2.54px;
  width: 27px;
  height: 5px;
  position: absolute;
  left: 363px;
  top: 2524.76px;
}
.oval10 {
  position: absolute;
  left: 394px;
  top: 2523.76px;
  overflow: visible;
}
.path73 {
  position: absolute;
  left: 299px;
  top: 2522.76px;
  overflow: visible;
}
.rectangle107 {
  background: #f2f2f2;
  width: 167px;
  height: 192px;
  position: absolute;
  left: 299px;
  top: 2600.76px;
}
.path74 {
  position: absolute;
  left: 305px;
  top: 2807.76px;
  overflow: visible;
}
.path75 {
  position: absolute;
  left: 342px;
  top: 2810.76px;
  overflow: visible;
}
.oval11 {
  position: absolute;
  left: 302px;
  top: 2571.76px;
  overflow: visible;
}
.rectangle108 {
  background: #111b47;
  width: 72px;
  height: 9px;
  position: absolute;
  left: 323px;
  top: 2574.76px;
}
.rectangle109 {
  background: #f2f2f2;
  width: 72px;
  height: 9px;
  position: absolute;
  left: 304px;
  top: 2831.76px;
}
.rectangle110 {
  background: #f2f2f2;
  width: 151px;
  height: 9px;
  position: absolute;
  left: 305px;
  top: 2850.76px;
}
.path76 {
  position: absolute;
  left: 324px;
  top: 2808.76px;
  overflow: visible;
}
.path77 {
  position: absolute;
  left: 350px;
  top: 2644.76px;
  overflow: visible;
}
.path78 {
  position: absolute;
  left: 405px;
  top: 2713.76px;
  overflow: visible;
}
.path79 {
  position: absolute;
  left: 307px;
  top: 2731.76px;
  overflow: visible;
}
.path80 {
  position: absolute;
  left: 400px;
  top: 2628.76px;
  overflow: visible;
}
.path81 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 350px;
  top: 2737.76px;
  overflow: visible;
}
.oval12 {
  position: absolute;
  left: 357px;
  top: 2654.76px;
  overflow: visible;
}
.path82 {
  position: absolute;
  left: 361px;
  top: 2676.76px;
  overflow: visible;
}
.path83 {
  position: absolute;
  left: 320px;
  top: 2697.76px;
  overflow: visible;
}
.path84 {
  position: absolute;
  left: 360px;
  top: 2691.76px;
  overflow: visible;
}
.rectangle111 {
  position: absolute;
  left: 355.37px;
  top: 2655.66px;
  transform: translate(0px, -5.71px);
  overflow: visible;
}
.oval13 {
  position: absolute;
  left: 435px;
  top: 2635.76px;
  overflow: visible;
}
.oval14 {
  position: absolute;
  left: 439px;
  top: 2639.76px;
  overflow: visible;
}
.path85 {
  position: absolute;
  left: 199px;
  top: 2738.76px;
  overflow: visible;
}
.path86 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 199px;
  top: 2738.76px;
  overflow: visible;
}
.path87 {
  position: absolute;
  left: 210px;
  top: 2882.76px;
  overflow: visible;
}
.path88 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 210px;
  top: 2882.76px;
  overflow: visible;
}
.path89 {
  position: absolute;
  left: 219px;
  top: 2882.76px;
  overflow: visible;
}
.path90 {
  position: absolute;
  left: 201px;
  top: 2781.76px;
  overflow: visible;
}
.path91 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 212px;
  top: 2805.76px;
  overflow: visible;
}
.path92 {
  position: absolute;
  left: 211px;
  top: 2715.76px;
  overflow: visible;
}
.oval15 {
  position: absolute;
  left: 215px;
  top: 2697.76px;
  overflow: visible;
}
.path93 {
  position: absolute;
  left: 200px;
  top: 2722.76px;
  overflow: visible;
}
.path94 {
  position: absolute;
  left: 201px;
  top: 2692.76px;
  overflow: visible;
}
.path95 {
  position: absolute;
  left: 237px;
  top: 2789.76px;
  overflow: visible;
}
.path96 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 227px;
  top: 2734.76px;
  overflow: visible;
}
.path97 {
  position: absolute;
  left: 227px;
  top: 2733.76px;
  overflow: visible;
}
.group3 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 204.32px;
  top: 2692.04px;
  overflow: visible;
}
.path100 {
  position: absolute;
  left: 481px;
  top: 2887.76px;
  overflow: visible;
}
.path101 {
  position: absolute;
  left: 512px;
  top: 2887.76px;
  overflow: visible;
}
.path102 {
  position: absolute;
  left: 477px;
  top: 2782.76px;
  overflow: visible;
}
.path103 {
  position: absolute;
  left: 439px;
  top: 2724.76px;
  overflow: visible;
}
.path104 {
  position: absolute;
  left: 524px;
  top: 2771.76px;
  overflow: visible;
}
.oval16 {
  position: absolute;
  left: 478px;
  top: 2689.76px;
  overflow: visible;
}
.path105 {
  position: absolute;
  left: 480px;
  top: 2700.76px;
  overflow: visible;
}
.path106 {
  position: absolute;
  left: 446px;
  top: 2708.76px;
  overflow: visible;
}
.path107 {
  position: absolute;
  left: 473px;
  top: 2681.76px;
  overflow: visible;
}
.group4 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 475.41px;
  top: 2767.05px;
  overflow: visible;
}
.group5 {
  opacity: 0.10000000149011612;
  position: absolute;
  left: 475.01px;
  top: 2685.86px;
  overflow: visible;
}
.path111 {
  position: absolute;
  left: 170px;
  top: 2641.76px;
  overflow: visible;
}
.path112 {
  position: absolute;
  left: 174px;
  top: 2636.76px;
  overflow: visible;
}
.undraw-mobile-login-ikmv-element-card-info-card-medium-icon-top-left-2-line-title-copy-2-element-card-info-card-medium-icon-top-left-2-line-title-copy-3-text-block-section-large-title-body-2-line-title-mask {
  position: absolute;
  inset: 0;
}
.mask2 {
  width: 1440px;
  height: 742px;
  position: absolute;
  left: 0px;
  top: 1110px;
}
.mask3 {
  background: #000000;
  width: 1440px;
  height: 742px;
  position: absolute;
  left: 0px;
  top: 1110px;
}
.undraw-mobile-login-ikmv {
  position: absolute;
  left: 735px;
  top: 1219.65px;
  overflow: visible;
}
.element-card-info-card-medium-icon-top-left-2-line-title-copy-2 {
  width: 255px;
  height: 138px;
  position: absolute;
  left: 450px;
  top: 1554px;
}
.body3 {
  color: var(--colour-main-grey-600, #5d6970);
  text-align: left;
  font: var(--regular-12, 400 12px/18px "Roboto", sans-serif);
  position: absolute;
  right: 0px;
  left: 0px;
  top: 82px;
}
.title3 {
  color: var(--colour-main-blue-900, #091133);
  text-align: left;
  font: var(--medium-16, 500 16px/26px "Roboto", sans-serif);
  position: absolute;
  right: 0px;
  left: 0px;
  top: 50px;
}
.element-card-info-card-small-icon-position-left {
  height: 36px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.icon {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.element-card-info-card-medium-icon-top-left-2-line-title-copy-3 {
  width: 255px;
  height: 138px;
  position: absolute;
  left: 165px;
  top: 1554px;
}
.icon2 {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.text-block-section-large-title-body-2-line-title3 {
  width: 540px;
  height: 204px;
  position: absolute;
  left: 165px;
  top: 1270px;
}
.cta {
  position: absolute;
  inset: 0;
}
.rectangle123 {
  width: 1440px;
  height: 546px;
  position: absolute;
  left: 0px;
  top: 3014px;
}
.text-block-section-large-title-body-2-line-title4 {
  width: 445px;
  height: 230px;
  position: absolute;
  left: 826px;
  top: 3134px;
}
.element-button-medium-filled {
  width: 150px;
  height: 32px;
  position: absolute;
  left: 826px;
  top: 3404px;
}
.button-label4 {
  color: var(--colour-secondary-white-100-general, #ffffff);
  text-align: center;
  font: var(--medium-14, 500 14px/24px "Roboto", sans-serif);
  position: absolute;
  right: 0px;
  left: 0px;
  top: calc(50% - 12px);
}
.undraw-mention-6-k-5-d {
  position: absolute;
  left: 209px;
  top: 3131.93px;
  overflow: visible;
}
.pricing {
  position: absolute;
  inset: 0;
}
.rectangle125 {
  opacity: 0.5;
  position: absolute;
  left: -620.29px;
  top: 3607.39px;
  overflow: visible;
}
.element-button-medium-filled2 {
  width: 189px;
  height: 31.81px;
  position: absolute;
  left: 625px;
  top: 4207.86px;
}
.bg4 {
  background: var(--colour-main-blue-800, #111b47);
  border-radius: 2px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -0.19px;
  top: 0px;
}
.button-label5 {
  color: var(--colour-secondary-white-100-general, #ffffff);
  text-align: center;
  font: var(--medium-14, 500 14px/24px "Roboto", sans-serif);
  position: absolute;
  right: 0px;
  left: 0px;
  top: calc(50% - 11.91px);
}
.body4 {
  color: var(--colour-main-grey-600, #5d6970);
  text-align: center;
  font: var(--regular-14, 400 14px/24px "Roboto", sans-serif);
  position: absolute;
  right: 545px;
  left: 545px;
  top: 4174.82px;
}
.title4 {
  color: var(--colour-main-blue-600, #37447e);
  text-align: center;
  font: var(--regular-16, 400 16px/26px "Roboto", sans-serif);
  position: absolute;
  right: 545px;
  left: 545px;
  top: 4088.82px;
}
.price {
  color: var(--colour-main-blue-700, #222f65);
  text-align: center;
  font: var(--medium-50, 500 50px/66px "Roboto", sans-serif);
  position: absolute;
  right: 545px;
  left: 545px;
  top: 4022.82px;
}
.text-block-section-large-title-body-2-line-title5 {
  width: 600px;
  height: 116.31px;
  position: absolute;
  left: 420px;
  top: 3845px;
}
.body5 {
  color: var(--colour-main-blue-400, #6f7cb2);
  text-align: center;
  font: var(--regular-16, 400 16px/26px "Roboto", sans-serif);
  position: absolute;
  right: 0px;
  left: 0px;
  top: 64px;
}
.title5 {
  color: var(--colour-main-blue-900, #091133);
  text-align: center;
  font: var(--medium-36, 500 36px/48px "Roboto", sans-serif);
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.footer {
  position: absolute;
  inset: 0;
}
.rectangle126 {
  background: #e7ecff;
  width: 1440px;
  height: 216px;
  position: absolute;
  left: 0px;
  top: 4412px;
}
.element-button-small-filled2 {
  width: 109px;
  height: 26px;
  position: absolute;
  left: 1166px;
  top: 4479px;
}
.{
  color: var(--colour-main-grey-400, #939ea4);
  text-align: left;
  font: var(--medium-14, 500 14px/24px "Roboto", sans-serif);
  position: absolute;
  left: 165px;
  top: calc(50% - -2166px);
}
.home2 {
  color: var(--colour-main-blue-300, #929ecc);
  text-align: left;
  font: var(--regular-14, 400 14px/24px "Roboto", sans-serif);
  position: absolute;
  left: 165px;
  top: calc(50% - -2258px);
}
.about2 {
  color: var(--colour-main-blue-300, #929ecc);
  text-align: left;
  font: var(--regular-14, 400 14px/24px "Roboto", sans-serif);
  position: absolute;
  left: 263px;
  top: calc(50% - -2258px);
}
.contact2 {
  color: var(--colour-main-blue-300, #929ecc);
  text-align: left;
  font: var(--regular-14, 400 14px/24px "Roboto", sans-serif);
  position: absolute;
  left: 361px;
  top: calc(50% - -2258px);
}
.icon-social-instagram {
  position: absolute;
  left: 1259px;
  top: 4576px;
  overflow: visible;
}
.icon-social-instagram-copy {
  position: absolute;
  left: 1213px;
  top: 4576px;
  overflow: visible;
}
.icon-social-instagram-copy-2 {
  position: absolute;
  left: 1167px;
  top: 4576px;
  overflow: visible;
}
.icon-social-instagram-copy-3 {
  position: absolute;
  left: 1121px;
  top: 4576px;
  overflow: visible;
}
.icon-social-instagram-copy-4 {
  position: absolute;
  left: 1075px;
  top: 4576px;
  overflow: visible;
}
.rectangle128 {
  background: #cdd1d4;
  width: 1110px;
  height: 1px;
  position: absolute;
  left: 165px;
  top: 4551px;
}
.logo-landie2 {
  width: 79px;
  height: 38px;
  position: absolute;
  left: 680px;
  top: 4473px;
}
