/* Figma Styles of your File */
:root {
    /* Colors */
    --colour-background-light-grey: #fbfbfd;
    --colour-logo-primary: #2245e3;
    --colour-main-grey-900: #141719;
    --colour-main-grey-800: #393e41;
    --colour-main-grey-700: #454e54;
    --colour-main-grey-600: #5d6970;
    --colour-main-grey-500: #76848c;
    --colour-main-grey-400: #939ea4;
    --colour-main-grey-300: #b0b8bc;
    --colour-main-grey-200: #cdd1d4;
    --colour-main-grey-100: #e9ebec;
    --colour-main-blue-900: #091133;
    --colour-main-blue-800: #111b47;
    --colour-main-blue-700: #222f65;
    --colour-main-blue-600: #37447e;
    --colour-main-blue-500: #505f98;
    --colour-main-blue-400: #6f7cb2;
    --colour-main-blue-300: #929ecc;
    --colour-main-blue-200: #bac3e5;
    --colour-main-blue-100: #e7ecff;
    --colour-secondary-white-100-general: #ffffff;
    --colour-secondary-yellow-500: #ffd166;
    --colour-secondary-yellow-400: #fedc8c;
    --colour-secondary-yellow-300: #fde7b3;
    --colour-secondary-yellow-200: #fff2d2;
    --colour-secondary-yellow-100: #fff6e0;
    --icon-black: #000000;
  
    /* Fonts */
    --bold-50: 700 50px/66px "Roboto", sans-serif;
    --bold-42: 700 42px/60px "Roboto", sans-serif;
    --bold-26: 900 26px/38px "Roboto", sans-serif;
    --medium-50: 500 50px/66px "Roboto", sans-serif;
    --medium-42: 500 42px/60px "Roboto", sans-serif;
    --medium-36: 500 36px/48px "Roboto", sans-serif;
    --medium-28: 500 28px/38px "Roboto", sans-serif;
    --medium-22: 500 22px/32px "Roboto", sans-serif;
    --medium-18: 500 18px/30px "Roboto", sans-serif;
    --medium-16: 500 16px/26px "Roboto", sans-serif;
    --medium-14: 500 14px/24px "Roboto", sans-serif;
    --medium-12: 500 12px/18px "Roboto", sans-serif;
    --regular-22: 400 22px/32px "Roboto", sans-serif;
    --regular-18: 400 18px/30px "Roboto", sans-serif;
    --regular-16: 400 16px/26px "Roboto", sans-serif;
    --regular-14: 400 14px/24px "Roboto", sans-serif;
    --regular-12: 400 12px/18px "Roboto", sans-serif;
  
    /* Effects */
  }
  